1. Creare una tupla vuota e assegnarla a una variabile

In [1]:
tupla = tuple()

2. Creare una tupla con i seguenti elementi: "mela", "banana", "kiwi".

In [7]:
tupla = ('mela','banana','kiwi')

3. Accedere all’elemento "banana" della tupla precedente.

In [9]:
tupla[1]

'banana'

4. Creare una nuova tupla che contenga solo i primi due elementi della tupla fruits.

In [13]:
tupla1 = tupla[0:2]

print(tupla1)

('mela', 'banana')

5. Verificare se l’elemento "ananas" è presente nella tupla fruits.

In [15]:
frutto = 'ananas'

if 'ananas' not in tupla:
     print('ananas non è nella tupla')
else:
     print('ananas è nella tupla')

ananas non è nella tupla

6. Concatenare la tupla fruits con la tupla ("pesca", "arancia") e stampare il risultato.

In [16]:
all_fruits = tupla + ('pesca','arancia')

all_fruits

('mela', 'banana', 'kiwi', 'pesca', 'arancia')

7. Verificare la lunghezza della tupla ottenuta.

In [17]:
len(all_fruits)

5

8. Creare una tupla contenente i numeri interi da 1 a 5.

In [18]:
numbers = (1,2,3,4,5)

numbers

(1, 2, 3, 4, 5)

9. Creare una tupla contenente il quadrato dei numeri interi da 1 a 5 (usando tuple comprehension).

In [25]:
quadrati = tuple(x**2 for x in numbers)

quadrati

(1, 4, 9, 16, 25)

10. Contare il numero di occorrenze dell’elemento "mela" nella tupla all_fruits.

In [27]:
occorrenze_mela = all_fruits.count('mela')

occorrenze_mela

1

11. Data la tupla numbers = (1,2,3,4,5,6,7,8,9,10), estrarre gli elementi dal quarto al settimo e poi invertire la tupla.

In [30]:
numbers = (1,2,3,4,5,6,7,8,9,10)

numbers = numbers[3:7]

numbers = numbers[::-1]

numbers

(7, 6, 5, 4)

12. Data la tupla:
    
stock = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184))
)

estrarre la stringa "AAPL.US".

13. Date le tuple
t1 = ('mela', 'pera', 'banana')
t2 = ('ananas', 'kiwi', 'arancia')
        1. unirle in un’unica tupla
        2. creare una nuova tupla che le contenga come elementi (tupla di tuple)

14. “Modifica” di una tupla immutabile Partendo da t1, aggiungere l’elemento "castagna".

15. Ordinamento alfabetico Riordinare in ordine alfabetico la tupla